*, 
*:after,
*:before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;    
}
body {    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;  
    justify-content: space-between;        
}
.list {
    position: absolute;
    left: -300px;           
    height: 100vh;
    width: 300px;        
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    transition: all ease .5s; 
    z-index: 1;   
}
.menu-closer {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 30px; 
    cursor: pointer;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;    
}
header .instruction-button {
    height: 30px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    cursor: pointer;       
}
header .instruction-button div {
    height: 3px;
    width: 30px;
    background-color: #ffffff;       
}
header .mode-area {
    display: flex;
    align-items: center;
    height: 30px;
    font-size: 14px;
}
header .mode-area .button {
    height: 18px;
    width: 40px;    
    background-color: #333333;
    border-radius: 11px;
    margin: 0px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
header .mode-area .button .button-circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #ffffff;       
}

.list h2 {
    margin-bottom: 20px;
}
.container {
    margin: auto;
    background-color: #333333;    
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    width: 100vw; 
    align-items: center;   
}
.ocarina {
    display: flex;  
    justify-content: space-evenly;
    width: 400px;
    height: 300px;
    position: relative;
    margin-bottom: 50px;             
}
.ocarina img {
    position: absolute;    
}

.key {    
    width: 38px;
    height: 38px;    
    border-radius: 50%;    
    position: relative;
    background-color: #000000;
    box-shadow: 0px 0px 10px #444444;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: large;    
}
.key:nth-child(6) {    
    top: 170px;
    left: -36px;     
}
.key:nth-child(2) {
    top: 13px;
    left: 72px;
}
.key:nth-child(3) {
    top: 23px;
    left: 51px;
}
.key:nth-child(4) {
    left: -2px;
    top: 107px;
}
.key:nth-child(5) {
    top: 119px;
    left: -9px;
}
.active {
    background: #ffffff;
    color: #000000;
}

.composer {
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.composer input {
    padding: 3px 5px;
    font-size: large;
    outline: 0;
    border: 1px solid #ffffff;
    border-radius: 3px;
    border: 1px solid #333333;
}
.composer button {
    margin-top: 20px;
    border: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: x-large;
    border-radius: 5px;
    width: 90px;
    height: 35px;
    cursor: pointer;
}
.composer button:hover {
    background-color: #666666;
    color: #ffffff;
    box-shadow: 0px 0px 10px #000000;
}
footer {    
    bottom: 20px;    
    margin-bottom: 20px;
}
footer a {
    color: #555555;
}
.light {
    color: #000000;
    background-color: #dddddd;
}
.dark {    
    color: #ffffff;
    background-color: #111111;    
}

@media(max-width: 450px) {
    .ocarina {
        width: auto;
        margin-bottom: -30px;
    }
    .ocarina img {
        width: 300px;
    }
    .key {
        width: 25px;
        height: 25px;
    }
    .key:nth-child(2) {
        top: 11px;
        left: 0px;    
    }
    .key:nth-child(3) {
        top: 18px;
        left: 13px;
    }
    .key:nth-child(4) {
        left: -2px;
        top: 74px;
    }
    .key:nth-child(5) {
        top: 81px;
        left: 18px;
    }
    .key:nth-child(6) {
        top: 116px;
        left: 25px;
    }
}